@use 'sass:math';
@import '../../scss/style.scss';

.catalog {
  padding-top: rem(65);
}

.container {
  composes: container from global
}

.title {
  color: #111111;
  font-family: Oswald;
  font-size: rem(36);
  line-height: math.div(60, 36);
  text-align: center;
  margin-bottom: rem(20);
}

.list {
  display: grid;
  row-gap: rem(25);
}
