@use 'sass:math';
@import '../../scss/style.scss';

.addProducts {
  padding-top: rem(55);
}

.container {
  composes: container from global;
}

.title {
  @extend %title;
  white-space: nowrap;
}

.list {
  @extend %lineList;
}
