@import '../../scss/style.scss';
@import '../../scss/global.scss';

.categories {
  padding: rem(22) 0;
}

.container {
  composes: container from global;
}

.link {
  font-family: Oswald;
  font-size: rem(16);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  column-gap: rem(14);

  &:active {
    opacity: 0.3;
  }
}

.list {
  @media (min-width:$mobile){

  }
}

.title {
  display: grid;
  grid-template-columns: 70px 1fr;
  align-items: center;
  column-gap: rem(20);
  text-transform: uppercase;
  font-family: Oswald;
  font-size: rem(24);
  line-height: 1.54;
  color: #111;

  &::before {
    content: '';
    width: rem(67);
    height: rem(51);
    background-image: url('../../assets/img/burn-fat.png');
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (min-width:$mobile) {
    display: block;

    &::before {
      position: absolute;
      right: rem(30);
      top: 50%;
      transform: translateY(-50%);
      background-image: url('../../assets/img/burning-tablet.png');
      width: rem(275);
      height: rem(210);
    }
  }

}

.item {
  position: relative;
  background-color: #f2f2f2;
  padding: rem(22) rem(20);
  display: flex;
  flex-direction: column;
  row-gap: rem(25);

  &:last-child h3:before {
    background-image: url('../../assets/img/gaining.png');

    @media (min-width:$mobile) {
      background-image: url('../../assets/img/running-tabl.png');
    }
  }

  @media (min-width:$mobile) {
    margin-bottom: rem(35);
    padding-right: rem(296);
    padding-left: rem(60);
    padding-bottom: rem(60);
    padding-top: rem(60);
  }
}

.text {
  line-height: 1.29;
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.3);
  padding-bottom: rem(23);

  @media (min-width:$mobile){
     border: none;
  }
}

.visuallyHidden {
  composes: visuallyHidden from global;
}
