@use "sass:math";
@import '../../scss/style.scss';
@import '../../scss/global.scss';

.promo {
  padding: rem(65) 0px 0px 0px;
  position: relative;
}

.container {
  composes: container from global;
}

.textContent {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: rem(30) rem(30);
  font-family: Oswald;
  text-align: center;
}

.title {
  font-size: rem(36);
  margin-bottom: rem(20);
}

.text {
  font-size: rem(13.5);
  text-transform: uppercase;
}

.link {
  margin:0 auto;
  display: flex;
  width: rem(280);
  text-align: center;
  align-items: center;
  justify-content: center;
  min-height: rem(40);
  padding: rem(14) rem(15) rem(11);
  background-color: #68b738;
  font-family: Oswald;
  font-size: rem(13.5);
  line-height: 1.33;
  color: #fff;
  text-transform: uppercase;
}

.ibg {
  composes: ibg from global;
  padding-bottom: math.div(305, 320) * 100%;
  margin-bottom: rem(135);
}

.bottomPhoto {
  @extend %ibg;
  position: absolute;
  z-index: 25;
  bottom: math.div(37, 320) * 100%;
  left: 50%;
  transform: translateX(-50%);
  @include adaptiveValue("width", 280, 500, 320, $tabletWidth, 1);
  @include adaptiveValue("padding-bottom", 270, 490, 320, $tabletWidth, 1);



  img {
    z-index: 25;
  }
}
