@use "sass:math";
@import '../../scss/style.scss';

.example {
  background-color: #f2f2f2;
  padding: rem(35) 0;
}

.container {
  composes: container from global;

  @media (min-width:$mobile) {
    padding: 0 rem(30);
  }
}

.contentBody {

  @media (min-width:$mobile) {
    display: flex;
    flex-wrap: wrap;

  }

}

.title {
  font-family: Oswald, serif;
  font-size: rem(36);
  line-height: 1.67;
  color: #111;
  margin-bottom: rem(32);
  text-align: center;

  @media (min-width:$mobile) {
    text-align: left;

  }
}

.text {
  line-height: 1.29;
  margin-bottom: rem(27);

  @media (min-width:$mobile) {
    flex: 1 1 100%;
  }

}

.statements {
  display: flex;
  column-gap: rem(32);
  margin-bottom: rem(38);
  justify-content: center;
}

.group {
  position: relative;
  border: solid 1px #cdcdcd;
  width: rem(320);
  min-height: rem(56);
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width:$mobile) {
    width: rem(162);
  }


  dd {
    font-family: Oswald, serif;
    font-size: rem(24);
    color: #111;
  }

  dl {
    font-size: rem(11.5);
    text-align: center;
    width: rem(90);
    padding: 0 rem(20);
    position: absolute;
    bottom: rem(-15);
    left: 50%;
    transform: translateX(-50%);
    background-color: #f2f2f2;
    z-index: 1;
  }

  @media (min-width:$mobile) {}
}

.costs {
  text-align: center;
  line-height: 1.43;
  color: #111;
  text-transform: uppercase;
  font-family: Oswald, serif;
  margin-bottom: rem(44);

  @media (min-width:$mobile) {
    width: rem(135);
    margin-left: auto;
    text-align: right;
  }
}

.toggler {
  margin: 0 auto;
  width: rem(290);
  min-height: rem(70);
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: rem(18);
  font-size: rem(16);
  line-height: 1.25;
  font-family: Oswald;
  text-transform: uppercase;

  button {
    width: rem(84);
    height: rem(14);
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid #d6d6d6;
    padding: 0 rem(4);

    &::before {
      content: '';
      display: block;
      width: 50%;
      background-color: $gr-color;
      height: 50%;
      border-radius: 10px;
    }

    @media (min-width:$mobile) {
      display: none;
    }
  }

  &_active {
    button {
      @extend %mirror;
    }
  }

  @media (min-width:$mobile) {
    width: rem(600);
  }
}

.ibg {
  composes: ibg from global;
  padding-bottom: math.div(232, 311) * 100%;

  @media (min-width:$mobile) {
    display: none !important;
    ;
  }
}
