@use 'sass:math';
@import '../../scss/style.scss';
@import '../../scss/global.scss';

.header {
  font-family: Oswald;
  font-size: rem(20);
  font-weight: 500;
  color: #111;
  text-transform: uppercase;
}

.container {
  composes: container from global;
  position: relative;

  @media (min-width:$mobile) {
    display: flex;
  }
}

.logoWrapper {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #fff;
  z-index: 2;
  min-height: 65px;

  @media (min-width:$mobile) {
    width: auto;
    margin-right: rem(80);
      padding: rem(15) 0 rem(16) 0;
  }
}

.logoLink {
  display: flex;
  align-items: center;
  flex: 1 1 auto;

  @media (min-width:$mobile) {
    flex: 0 1 auto;
  }
}

.logo {
  width: rem(33);
  height: rem(38);
}

.catEnergy {
  width: rem(101);
  height: rem(18);
  margin-left: auto;

  @media (min-width:$mobile) {
    margin-left: rem(22);
  }
}

.menu {
  width: 100%;
  height: auto;
  margin-top: -100%;

  li {
    padding: rem(24) rem(15) rem(20);
    text-align: center;
  }

  a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: rem(20);
    line-height: 1;
    display: flex;
    align-items: center;
  }

  @media (min-width:$mobile) {
    margin-top: 0;
    font-size: rem(18);
    line-height: math.div(24.86, 18);

    ul {
      display: flex;
      column-gap: rem(32);
      justify-content: flex-end;
    }

    li {
      padding: rem(24) 0 rem(20);
      text-align: center;
      position: relative;
    }

    a:hover::before {
      content: '';
      position: absolute;
      height: rem(2);
      background-color: $gr-color;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }


  &_open {
    margin-top: 0;

  }
}

.iconMenu {
  flex-shrink: 0;
  @include adaptiveValue("margin-left", 62, 400, 320, $tabletWidth, 1);

  display: block;
  position: relative;
  width: rem(30);
  height: rem(18);
  cursor: pointer;
  z-index: 5;

  span,
  &::before,
  &::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: rem(2);
    background-color: #000;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  span {
    top: calc(50% - rem(1));
  }

  &_open {
    span {
      width: 0;
    }

    &::before {
      top: calc(50% - rem(1));
      transform: rotate(-45deg);
    }

    &::after {
      bottom: calc(50% - rem(1));
      transform: rotate(45deg);
    }
  }


  @media (min-width:$mobile) {
    display: none;
  }
}
