@use "sass:math";
// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "Arial";
$fontSize: rem(14); // где 14(px) - размер шрифта по умолчанию из макета

// Основные цвета
$mainColor: #141414; // Цвет шрифта по умолчанию
$text-color: #000000;

// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1585;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30;

$tabletWidth: 991.98;
$mobileWidth: 767.98;
$mobileSmallWidth: 479.98;
// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em($tabletWidth); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em($mobileWidth); // Телефоны L
$mobileSmall: em($mobileSmallWidth); // Телефоны S

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;

@import "base";
