// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "Arial";
$fontSize: rem(14); // где 14(px) - размер шрифта по умолчанию из макета
$mainColor: #444; // Цвет шрифта по умолчанию

// Основные цвета
$title-color: #111;
$gr-color: #68b738;
$errorColor: #ff8282;
$bg-color-gray: #f2f2f2;

// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1440;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1220;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 40;
$containerPaddingTablet: 60;
$containerPaddingPC: 80;

$tabletWidth: 991.98;
$mobileWidth: 767.98;
$mobileSmallWidth: 479.98;
// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPaddingPC;
$diff: $tabletWidth - $mobileWidth;

// Брейк-поинты
$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em($tabletWidth); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em($mobileWidth); // Телефоны L
$mobileSmall: em($mobileSmallWidth); // Телефоны S

$responsiveType: 1;
