@use 'sass:math';
@import '../../../scss/style.scss';

.card {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: rem(210);
  position: relative;
 text-align: center;

  @media (min-width:$mobile) {
    padding: rem(40);
    padding-top: rem(160);
    border: 1px solid #cdcdcd

  }

  &::before {
    color: #222222;
    content: '+';
    font-size: rem(50);
    left: 50%;
    line-height: 1;
    opacity: 0.2;
    position: absolute;
    top: rem(20);
    transform: translateX(-50%);

    @media (min-width:$mobile) {
      top: rem(55);
      font-size: rem(100);
      font-weight: 100;
    }
  }
}

.title {
  @include adaptiveValue("font-size", 16, 32, 320, 768, 1);
  @extend %generalTitle;
  margin-bottom: rem(11);
  margin-top: rem(80);

  @media (min-width:$mobile) {
    font-size: rem(20);
    margin-bottom: rem(28);
    display: flex;
    flex-direction: column;
  }
}

.link {
  @extend %button;
  align-self: stretch;
  background-color: $bg-color-gray;
  color: $mainColor;
  grid-column: 1/2;
  margin-top: rem(21);
  width: 100%;

  @media (min-width:$mobile){
     width: 100%;
     margin-top: auto;
  }
}
